NEXT_PUBLIC_SUPABASE_URL=https://jucelgalexdlqdmyioti.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1Y2VsZ2FsZXhkbHFkbXlpb3RpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5ODM3MDksImV4cCI6MjA5MTU1OTcwOX0.EQPmRH2e6GOGssUIYUZJhSkRwL2yB_yZfQhaMBlwFuY
ANTHROPIC_API_KEY=your_anthropic_api_key_here
